@{
    const string underlineClass = "border-bottom border-2 border-danger";
    var requestPath = this.Context.Request.Path;
}
<ul class="navbar-nav my-3 my-sm-0 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height:84px;font-size:14pt;"> 
    <li class="nav-item">
        <a class="nav-link text-danger p-2 @((requestPath == "/builder" ? underlineClass : ""))" 
            asp-page="BuilderPage">Рабочий стол</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger p-2 @((requestPath == "/builder/settings" ? underlineClass : ""))" 
            asp-page="BuilderSettings">Настройки профиля</a>
    </li>
</ul>
<div class="vr mx-3 bg-secondary opacity-75 d-none d-md-block" style="width:2px;"></div>
<div class="d-flex flex-row my-2 my-md-0 mb-3 mb-md-0 align-items-center">
    <a class="btn btn-danger mx-2 flex-grow-1" style="height:40px;" href="~/profile/logout" role="button">
        <i class="bi bi-door-open"></i>&nbsp;Выйти
    </a>
</div>